<div class="maincontent">
	<section class="col span_5_of_12 alpha logo-section">
		<%= link_to (image_tag "logo.png"), root_path %><br/>
	</section>
	<section class="col span_6_of_12">
		<p>Wondering about the <strong>price</strong>, <strong>quality</strong>, <strong>service</strong> or even <strong>food safety</strong> of a restaurant? Can’t find what you need on restaurants’ websites or other major social media sites?
		No worries! FoodSpek provides you a comprehensive restaurant review that allows you to easily navigate to information that is most important to you.</p>

		<p>With FoodSpek, you can:<p>
		<ul>
			<li>"Spek" a restaurant and look up its reviews about food safety, food quality, service and price.</li>
			<li>Customize restaurant ratings and prioritize your most important restaurant aspects</li>
			<li>Recommend a restaurant or even a dish to your friends</li>
			<li>Stay tuned and sign up for our newsletter below. Website coming soon!</li>
		</ul>

			<button class="btn btn-primary btn-lg col span_12_of_12" data-toggle="modal" data-target="#user-modal">
			  Already had an account? Sign In!
			</button>

		<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg col span_12_of_12" data-toggle="modal" data-target="#user-modal">
			  Create a FoodSpek Account
			</button>

	</section>


	<!-- Modal -->
	<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">Sign Up/Sign In</h4>
	      </div>
	      <div class="modal-body">
	        <%#= render 'users/form' %>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>
